<tr>
	<td class="security"><%= link_to security.symbol, edit_user_security_path(current_user, security) %>  </td>
	<td class="desciption"><%= security.description %></td>
	<td><%= security.sort_order %></td>
	


</tr>