<%= provide(:title, "Edit Trade") %>
<h1>Edit Trade</h1>
<div class="row">
	<aside class="span12 offset2">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= render 'edit_trade_form' %>
		</section>
	</aside>
</div>